* {
    box-sizing: border-box;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

body {
    margin: 0;
}

.container {
    width: 1360px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
}

.form__label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
}

.input__controller {
    display: flex;
    justify-content: space-evenly;
    width: 29px;
    height: 29px;
    border: 2px solid #ccc;
    margin: 10px;
}

.form__input:checked ~ .input__controller {
    background-color: #8a2be2;
}
